.results {
  margin-bottom: 80px;
  scroll-margin-top: 100px;
}

.results__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.results__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 30px 40px;
  margin-bottom: 20px;
  border: 1px solid #33333333;
  /* margin-right: 20px; */
}

.results__item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 4px solid #ca9c15;
  margin-bottom: 20px;
}

.results__item h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.results__item > p {
  /* background-color: bisque; */
  max-width: 350px;
  width: 100%;
  text-align: justify;
  margin-left: 15px;
}

@media screen and (max-width: 850px) {
  .results__list {
    display: flex;
    flex-direction: column;
  }

  .results__item {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #33333333; */
    width: 100%;
    padding: 20px 30px;
    justify-content: center;
  }

  .results__item > p {
    /* background-color: bisque; */
    max-width: 400px;
    width: 100%;
    text-align: justify;
    margin-left: 15px;
  }
}

@media screen and (max-width: 480px) {
  .results__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .results__item > p {
    text-align: center;
    margin-top: 12px;
  }
}
