.graduate-col-1 {
  flex-basis: 15%;
}
.graduate-col-2 {
  flex-basis: 10%;
}
.graduate-col-3 {
  flex-basis: 35%;
}
.graduate-col-4 {
  flex-basis: 10%;
}
.graduate-col-5 {
  flex-basis: 10%;
}

.graduate-col-6 {
  flex-basis: 5%;
}
