.teachers {
  margin-bottom: 80px;
  scroll-margin-top: 100px;
}

.teachers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.teachers__item {
  width: 380px;
  height: 380px;
  background-color: #ccc;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
}

.teachers img {
  width: 380px;
  height: 380px;
  object-fit: cover;
  transition: all 0.5s ease;
  object-position: center;
}

.teachers img:hover {
  transform: scale(1.1);
}

.teachers__item-wrapper {
  position: absolute;
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 60%;
  background-color: #33333399;
}

@media screen and (max-width: 839px) {
  .teachers {
    margin-bottom: 60px;
    scroll-margin-top: 80px;
  }

  .teachers__item {
    margin-right: 0px;
  }
}
