.header {
  background-color: #151515;
  backdrop-filter: blur(10px);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  /* box-shadow: 0px 1px 20px 1px rgb(0, 0, 0); */
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: inline-block;
}

.header__logo-img {
  width: 170px;
  height: auto;
  display: inline-block;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  transition: all 0.3s ease;
}

.header__nav-item:hover {
  transform: translateY(-5px);
}

.header__nav-item + .header__nav-item {
  margin-left: 25px;
}

.header__nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.header__nav-link:hover {
  color: #fff;
}

.header__menu-btn {
  background: none;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  display: none;
}

@media screen and (max-width: 930px) {
  .header__nav-list {
    position: absolute;
    background-color: #1d1d1d;
    top: 100%;
    left: 0;
    width: 90%;
    height: calc(100vh - 100%);
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    padding-top: 20px;
    transform: translateX(-1000px);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 9999;
  }

  .active .header__nav-list {
    transform: translateX(0);
    opacity: 1;
  }

  .header__nav-item + .header__nav-item {
    margin-left: 0;
    margin-top: 10px;
  }

  .header__nav-link {
    font-size: 20px;
  }

  .header__menu-btn {
    display: inline-block;
  }

  .login-btn {
    padding-left: 40px;
    padding-right: 40px;
  }
}
