.section {
  /* width: 90vw; */
  margin: 80px auto;
  /* max-width: 1170px; */
  width: 100%;
}

.slider__header {
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.icon {
  font-size: 3rem;
  color: #9e8339;
  background-color: none;
}

.section-center {
  margin: 0 auto;
  width: 100vw;
  min-height: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* QQQQQQQQQQQQQQQQQQQQQQQ */
article {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

article div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 32px;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.person-img {
  border-radius: 5%;
  max-width: 350px;
  max-height: 480px;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  border: 4px solid hsl(210, 31%, 80%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

article h4 {
  text-transform: uppercase;
  color: #9e8339;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-bottom: 24px;
}

.text {
  max-width: 35em;
  margin: 0 auto;
  line-height: 150%;
  color: #333;
  text-align: left;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  color: #9e8339;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
  background: none;
  padding: 0;
  font-size: 20px;
}
.prev:hover,
.next:hover {
  background: #9e8339;
  color: #ffffff;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.view_more {
  color: rgb(6, 59, 90);
  text-decoration: none;
}

.view_more:hover {
  color: #9e8339;
}

.view_more_arrow {
  margin-left: 5px;
}

@media (max-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.slider__points {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 42px;
}

.slider__point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333;
  margin-right: 10px;
}

.checked {
  background-color: #333;
}

@media screen and (max-width: 850px) {
  .section {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-center {
    min-height: 500px;
    height: 100%;
  }

  article {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .person-img {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 24px;
    margin-top: 10px;
  }

  article div {
    align-items: center;
    margin-left: 0;
    text-align: center;
    margin-bottom: 16px;
  }

  .text {
    margin-bottom: 16px;
  }

  /* .section-center {
    height: 100vh;
  } */

  .abs {
    text-align: center;
  }
}
